public/style-guide.html
<!DOCTYPE html><html lang="es"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><title>Fernando Javier Averanga Aruquipa </title><link rel="stylesheet" href="css/styles.css"/></head><body><div class="nandes"><h2>BOTONES</h2><div class="show-buttons nandes"><a class="button center">class="button center"</a><a class="button full">class="button full"</a><a class="button">class="button"</a><a class="button--secondary">class="button--secondary"</a><a class="button--tertiary">class="button--tertiary"</a><a class="button--cta">class="button--cta"</a><a class="button--dark">class="button--dark"</a><a class="button--ghost">class="button--ghost"</a><a class="button--ghost--secondary">class="button--ghost--secondary"</a><a class="button--ghost--tertiary">class="button--ghost--tertiary"</a><a class="button--ghost--cta">class="button--ghost--cta"</a><a class="button--ghost--dark">class="button--ghost--dark"</a></div></div><div class="nandes"><h2>Tabla predeterminanda</h2><div class="table-container"><table><tbody><tr></tr><th></th><th>Enero</th><th>Febrero</th><th>Marzo</th><th>Abril</th><th>Mayo</th><th>Junio</th><th>Julio</th><th>Agosto</th><th>Setiembre</th><th>Octubre</th><th>Noviembre</th><th>Diciembre</th><tr></tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td><tr></tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td><tr></tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td><tr></tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td><tr></tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td><tr></tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tbody></table></div><h2>Tabla secundaria            </h2><div class="table-container"><table class="table--secondary"><tbody></tbody><tr><th></th><th>Enero</th><th>Febrero</th><th>Marzo</th><th>Abril</th><th>Mayo</th><th>Junio</th><th>Julio</th><th>Agosto</th><th>Setiembre</th><th>Octubre</th><th>Noviembre</th><th>Diciembre</th></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr></table></div><h2>Tabla con enfasis          </h2><div class="table-container"><table class="table--accent first-column"><tbody></tbody><tr><th></th><th>Enero</th><th>Febrero</th><th>Marzo</th><th>Abril</th><th>Mayo</th><th>Junio</th><th>Julio</th><th>Agosto</th><th>Setiembre</th><th>Octubre</th><th>Noviembre</th><th>Diciembre</th></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr></table></div><h2>Tabla oscura          </h2><div class="table-container"><table class="table--dark first-column"><tbody></tbody><tr><th></th><th>Enero</th><th>Febrero</th><th>Marzo</th><th>Abril</th><th>Mayo</th><th>Junio</th><th>Julio</th><th>Agosto</th><th>Setiembre</th><th>Octubre</th><th>Noviembre</th><th>Diciembre</th></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr></table></div><h2>Tabla first-column          </h2><div class="table-container"><table class="first-column"><tbody></tbody><tr><th></th><th>Enero</th><th>Febrero</th><th>Marzo</th><th>Abril</th><th>Mayo</th><th>Junio</th><th>Julio</th><th>Agosto</th><th>Setiembre</th><th>Octubre</th><th>Noviembre</th><th>Diciembre</th></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr><tr><td>Ventas</td><td>10045</td><td>20090</td><td>30135</td><td>40180</td><td>50225</td><td>60270</td><td>70315</td><td>80360</td><td>90405</td><td>100450</td><td>110495</td><td>120540</td></tr><tr><td>Gastos</td><td>2761</td><td>5522</td><td>8283</td><td>11044</td><td>13805</td><td>16566</td><td>19327</td><td>22088</td><td>24849</td><td>27610</td><td>30371</td><td>33132</td></tr><tr><td>Impuestos</td><td>976</td><td>1952</td><td>2928</td><td>3904</td><td>4880</td><td>5856</td><td>6832</td><td>7808</td><td>8784</td><td>9760</td><td>10736</td><td>11712</td></tr></table></div><p class="strong">Listas de características</p><ul class="feature-list"><li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.</li><li>Item list 2</li><li>Item list 3</li><li>Item list 4</li><li>Item list 5</li></ul><h2 class="item">Lista de datos </h2><ul class="item data-list"><li><p class="strong">Dominios permitidos</p><p>10 dominios .com</p></li><li><p class="strong">Ventas acumuladas en 2017</p><p>$ 1 786 000 000</p></li><li><p class="strong">Mostrar un botón</p><a class="button--cta small" href="#">Inscribete ahora</a></li></ul><form><div class="nandes"><div class="item form__item"></div><label>Nombre de usuario</label><input/><div class="item form__item"></div><label>Su contraseña</label><input/><div class="item form__item"></div><p class="small">Ejemplos de checkbox</p><label><input type="checkbox"/>Elige esta opcion</label><label><input type="checkbox"/>Elige esta opcion</label><div class="item form__item"></div><p class="small">Ejemplos de radio buttons</p><label><input type="radio" name="radio"/>Elige esta otra opcion</label><label><input type="radio" name="radio"/>Elige esta otra opcion</label><div class="item form__item"></div><label>Selecciona tu país</label><select><option>Colombia</option><option>Bolivia</option><option>Argentina</option><option>Perú</option><option>México</option></select><div class="item form__item"></div><textarea placeholder="Escriba su mensaje"></textarea><div class="item form__item"></div><input class="button full small" type="submit" value="Enviar"/></div></form><br/><h2 class="item">CARDS TARJETAS</h2><br/><div class="col50"><div class="card"><div class="card__img"><img src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg"/></div><div class="card__content"><div class="card__title">Título de la tarjeta</div><div class="card__subtitle"><p>Subtitulo de la tarjeta</p></div><div class="card__body"><p>Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).</p></div><footer class="card__footer"><div class="card__user"><div class="card__user-img"><img src="usuario.jpg"/></div><div class="card__user-name"><a href="#">Alexys Lozada</a></div></div><div class="card__button"><a class="button--ghost--tertiary button--small" href="#">Etiqueta</a></div></footer></div></div></div><div class="col50"><div class="card"><div class="card__img"><img src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg"/></div><div class="card__content"><div class="card__title">Título de la tarjeta</div><div class="card__subtitle"><p>Subtitulo de la tarjeta</p></div><div class="card__body"><p>Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).</p></div><footer class="card__footer"><div class="card__user"><div class="card__user-img"><img src="usuario.jpg"/></div><div class="card__user-name"><a href="#">Alexys Lozada</a></div></div><div class="card__button"><a class="button--ghost--tertiary button--small" href="#">Etiqueta</a></div></footer></div></div></div></div><script src="js/scripts.js"></script></body></html>

dev/pug/pages/style-guide.pug
extends ../includes/template.pug
block content
    .nandes
        h2 BOTONES
        .show-buttons.nandes
            a.button.center class="button center"
            a.button.full class="button full"
            a.button class="button"
            a.button--secondary class="button--secondary"
            a.button--tertiary class="button--tertiary"
            a.button--cta class="button--cta"
            a.button--dark class="button--dark"
            a.button--ghost class="button--ghost"
            a.button--ghost--secondary class="button--ghost--secondary"
            a.button--ghost--tertiary class="button--ghost--tertiary"
            a.button--ghost--cta class="button--ghost--cta"
            a.button--ghost--dark class="button--ghost--dark"
    .nandes
        h2 Tabla predeterminanda
        .table-container
            table
                tbody
                    tr
                    th
                    th Enero
                    th Febrero
                    th Marzo
                    th Abril
                    th Mayo
                    th Junio
                    th Julio
                    th Agosto
                    th Setiembre
                    th Octubre
                    th Noviembre
                    th Diciembre
                    tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                    tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                    tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
                    tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                    tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                    tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
        h2 Tabla secundaria            
        .table-container
            table.table--secondary
                tbody
                tr
                    th
                    th Enero
                    th Febrero
                    th Marzo
                    th Abril
                    th Mayo
                    th Junio
                    th Julio
                    th Agosto
                    th Setiembre
                    th Octubre
                    th Noviembre
                    th Diciembre
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
        h2 Tabla con enfasis          
        .table-container
            table.table--accent.first-column
                tbody
                tr
                    th
                    th Enero
                    th Febrero
                    th Marzo
                    th Abril
                    th Mayo
                    th Junio
                    th Julio
                    th Agosto
                    th Setiembre
                    th Octubre
                    th Noviembre
                    th Diciembre
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
        h2 Tabla oscura          
        .table-container
            table.table--dark.first-column
                tbody
                tr
                    th
                    th Enero
                    th Febrero
                    th Marzo
                    th Abril
                    th Mayo
                    th Junio
                    th Julio
                    th Agosto
                    th Setiembre
                    th Octubre
                    th Noviembre
                    th Diciembre
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
        h2 Tabla first-column          
        .table-container
            table.first-column
                tbody
                tr
                    th
                    th Enero
                    th Febrero
                    th Marzo
                    th Abril
                    th Mayo
                    th Junio
                    th Julio
                    th Agosto
                    th Setiembre
                    th Octubre
                    th Noviembre
                    th Diciembre
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
                tr
                    td Ventas
                    td 10045
                    td 20090
                    td 30135
                    td 40180
                    td 50225
                    td 60270
                    td 70315
                    td 80360
                    td 90405
                    td 100450
                    td 110495
                    td 120540
                tr
                    td Gastos
                    td 2761
                    td 5522
                    td 8283
                    td 11044
                    td 13805
                    td 16566
                    td 19327
                    td 22088
                    td 24849
                    td 27610
                    td 30371
                    td 33132
                tr
                    td Impuestos
                    td 976
                    td 1952
                    td 2928
                    td 3904
                    td 4880
                    td 5856
                    td 6832
                    td 7808
                    td 8784
                    td 9760
                    td 10736
                    td 11712
        p.strong Listas de características
        ul.feature-list
            li
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.
            li Item list 2
            li Item list 3
            li Item list 4
            li Item list 5
        h2.item Lista de datos 
        ul.item.data-list
            li
                p.strong Dominios permitidos
                p 10 dominios .com
            li
                p.strong Ventas acumuladas en 2017
                p $ 1 786 000 000
            li
                p.strong Mostrar un botón
                a.button--cta.small(href='#') Inscribete ahora
        form
            .nandes
                .item.form__item
                label Nombre de usuario
                input
                .item.form__item
                label Su contraseña
                input
                .item.form__item
                p.small Ejemplos de checkbox
                label
                    input(type='checkbox')
                    | Elige esta opcion
                label
                    input(type='checkbox')
                    | Elige esta opcion
                .item.form__item
                p.small Ejemplos de radio buttons
                label
                    input(type='radio', name='radio')
                    | Elige esta otra opcion
                label
                    input(type='radio', name='radio')
                    | Elige esta otra opcion
                .item.form__item
                label Selecciona tu país
                select
                    option Colombia
                    option Bolivia
                    option Argentina
                    option Perú
                    option México
                .item.form__item
                textarea(placeholder='Escriba su mensaje')
                .item.form__item
                input.button.full.small(type='submit', value='Enviar')
        br
        h2.item CARDS TARJETAS
        br
        .col50
            .card
                .card__img
                    img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
                .card__content
                    .card__title Título de la tarjeta
                    .card__subtitle
                        p Subtitulo de la tarjeta
                    .card__body
                        p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).
                    footer.card__footer
                        .card__user
                            .card__user-img
                                img(src="usuario.jpg")
                            .card__user-name
                                a(href="#") Alexys Lozada
                        .card__button
                            a(href="#").button--ghost--tertiary.button--small Etiqueta
        .col50
            .card
                .card__img
                    img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
                .card__content
                    .card__title Título de la tarjeta
                    .card__subtitle
                        p Subtitulo de la tarjeta
                    .card__body
                        p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).
                    footer.card__footer
                        .card__user
                            .card__user-img
                                img(src="usuario.jpg")
                            .card__user-name
                                a(href="#") Alexys Lozada
                        .card__button
                            a(href="#").button--ghost--tertiary.button--small Etiqueta
